.home{
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    min-height: 100vh;
    color: black;

    .connexionPro{
        display: flex;
        justify-content: end;
        align-items: center;
        padding: 2%;
        height: 10vh;

        .logIn{
            text-decoration: none;
            padding: 0.4%;
            border-radius: 10px;
            border: 1px solid black;
        }
    }

    .presentation{
        display: flex;
        justify-content: center;
        align-items: center;
        height:20vh;
        font-size: 2.5rem;
    }

    .connexionPatient{
        display: flex;
        justify-content: space-around;

        a{
            text-decoration: none;
            padding: 1%;
            border-radius: 10px;
            border: 1px solid black;
        }
    }

    .pathFormulaire, .pathPatient{
        display: flex;
        flex-direction: column;
        object-fit: contain;
        align-items: center;
    }

    .imgHome{
        height: 40vh;
        padding: 1vh;
    }

    .wrapfooter{
        flex-grow: 1;
    }

}